.vs/
*.user
*.pdb
*.ilk
*.idb
*.log
*.tlog
*.obj
*.iobj
*.o
*.d
*.recipe
*.FileListAbsolute.txt
/Bin/
/Obj/
/ContaCamService/Release/ContaCamService.exe
/ContaCamService/Debug/ContaCamService.exe
/Translation/ContaCam.exe
/Translation/ContaCamCHS.exe
/Translation/ContaCamDEU.exe
/Translation/ContaCamESN.exe
/Translation/ContaCamFRA.exe
/Translation/ContaCamITA.exe
/Translation/ContaCamJPN.exe
/Translation/ContaCamPTB.exe
/Translation/ContaCamRUS.exe
/Translation/FreeVimager.exe
/Translation/FreeVimagerCHS.exe
/Translation/FreeVimagerDEU.exe
/Translation/FreeVimagerESN.exe
/Translation/FreeVimagerFRA.exe
/Translation/FreeVimagerITA.exe
/Translation/FreeVimagerJPN.exe
/Translation/FreeVimagerPTB.exe
/Translation/FreeVimagerRUS.exe
