/* Global style */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 16px;
	background-color: #666666;
	color: #bbbbbb;
}
form {
	margin: 0;
	padding: 0;
}

/* Pages title */
h1 {
	font-size: 36px;
	margin: 10px 0 10px 0;
	font-weight: bold;
	vertical-align: bottom;
	color: #bbbbbb;
}

/* Smaller titles */
h2 {
	font-size: 18px;
	margin: 8px 0 6px 0;
	font-weight: bold;
	vertical-align: bottom;
	color: #bbbbbb;
}

/* Centered containers */
div.wrap {
	margin: 0 auto;
	text-align: center;
}

/* Links */
a {
	font-size: 16px;
	text-decoration: none;
}
a:link {
	color: #33ccff;
}
a:visited {
	color: #33ccff;
}
a:active {
	color: #33ccff;
}
a:hover {
	color: #ddffff;
	text-decoration: underline;
}

/* Transparent background */
.transparentbkg {
	background: transparent url('transparent.gif');
}

/* Highlight currently selected page offset */
a.highlight:link, a.highlight:visited, a.highlight:active, a.highlight:hover, a.highlight:focus {
	color: #ffa23c;
	text-decoration: underline;
}

/* Thumb container */
span.thumbcontainer {
	display: inline-block;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
}
span.thumbcontainer a:visited {
	color: #00dd00;
}
span.thumbcontainer a:active, span.thumbcontainer a:focus {
	color: #ffa23c;
}

/* AVI link */
a.avilink {
	right: 2px;
	bottom: 2px;
	position: relative;
	vertical-align: bottom;
	font-size: 10px;
}

/* Thumbs margin for summaries */
a.notselected, a.lastselected {
	outline: none;
}
a img {
	border: 0;
	margin: 5px;
	padding: 0;
}
a:visited img {
	border: 1px solid #00dd00;
	margin: 4px;
	padding: 0;
}
a.lastselected img, a.lastselected:visited img, a:active img, a:focus img {
	border: 2px solid #ffa23c;
	margin: 3px;
	padding: 0;
}

/* Controls style */
video {
	background: transparent url('gray.gif') repeat 0 0;
}
span.globalbuttons {
	white-space: nowrap;
}
span.globalbuttons a {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-family: sans-serif,Arial,Helvetica;
	display: inline-block;
	width: 36px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #333333;
	background-color: #dddddd;
	border: 1px solid;
	border-color: #33ccff #039ccf #039ccf #33ccff;
}
span.globalbuttons a:hover, span.globalbuttons a:focus {
	border-color: #33ccff #039ccf #039ccf #33ccff;
}
span.globalbuttons a:active {
	border-color: #039ccf #33ccff #33ccff #039ccf;
}
span.globalbuttons a.highlight:link, span.globalbuttons a.highlight:visited, span.globalbuttons a.highlight:active, span.globalbuttons a.highlight:hover, span.globalbuttons a.highlight:focus {
	color: #333333;
	text-decoration: underline;
	border-color: #33ccff #039ccf #039ccf #33ccff;
}
a.homebuttons {
	background: transparent url('home_gray.png') no-repeat center center;
}
a.reloadbuttons {
	background: transparent url('reload_gray.png') no-repeat center center;
}
a.savebuttons {
	background: transparent url('save_gray.png') no-repeat center center;
}
a.backbuttons {
	background: transparent url('back_gray.png') no-repeat center center;
}
a.trashbuttons {
	display: inline-block;
	width: 17px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: bottom;
	text-decoration: none;
	background: transparent url('trash.png') no-repeat left top;
}
a.trashbuttons:hover {
	background: transparent url('trashhover.png') no-repeat left top;
}
div#imagereloading {
	margin: 6px 0 0 0;
	text-align: center;
}
input {
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-family: sans-serif,Arial,Helvetica;
	padding: 2px;
	margin: 2px 0;
	color: #333333;
	text-align: center;
	background-color: #dddddd; 
	border: 1px solid;
	border-color: #33ccff #039ccf #039ccf #33ccff;
}
input[type='date'] {
	vertical-align: middle;
	font-size: 12px;
}
input.playerbutton, input.playerinfotext {
	padding: 4px;
}
input.playerbutton:hover, input.navbutton:hover, input.playerbutton:focus, input.navbutton:focus {
	border-color: #33ccff #039ccf #039ccf #33ccff;
}
input.playerbutton:active, input.navbutton:active {
	border-color: #039ccf #33ccff #33ccff #039ccf;
}
div#track1 {
	background-image: url('scaler_slider_track_gray.gif');
}