/* Global style */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 16px;
	background-color: #ffffff;
	color: #666666;
}
form {
	margin: 0;
	padding: 0;
}

/* Pages title */
h1 {
	font-size: 36px;
	margin: 10px 0 10px 0;
	font-weight: bold;
	vertical-align: bottom;
	color: #666666;
}

/* Smaller titles */
h2 {
	font-size: 18px;
	margin: 8px 0 6px 0;
	font-weight: bold;
	vertical-align: bottom;
	color: #666666;
}

/* Centered containers */
div.wrap {
	margin: 0 auto;
	text-align: center;
}

/* Links */
a {
	font-size: 16px;
	text-decoration: none;
}
a:link {
	color: #1188bb;
}
a:visited {
	color: #1188bb;
}
a:active {
	color: #1188bb;
}
a:hover {
	color: #116699;
	text-decoration: underline;
}

/* Highlight currently selected page offset */
a.highlight:link, a.highlight:visited, a.highlight:active, a.highlight:hover, a.highlight:focus {
	color: #cc821c;
	text-decoration: underline;
}

/* Thumb container */
span.thumbcontainer {
	display: inline-block;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
}
span.thumbcontainer a:visited {
	color: #00df00;
}
span.thumbcontainer a:active, span.thumbcontainer a:focus {
	color: #eca200;
}

/* Thumbs margin for summaries */
a.notselected, a.lastselected {
	outline: none;
}
a img {
	border: 0;
	margin: 5px;
	padding: 0;
}
a:visited img {
	border: 2px solid #00df00;
	margin: 3px;
	padding: 0;
}
a.lastselected img, a.lastselected:visited img, a:active img, a:focus img {
	border: 2px solid #eca200;
	margin: 3px;
	padding: 0;
}

/* Thumbs trash button */
span.thumbcontainer a.trashbuttons {
	text-align: center;
	vertical-align: bottom;
	text-decoration: none;
}
span.thumbcontainer a.trashbuttons:link, span.thumbcontainer a.trashbuttons:visited {
	color: #aa2222;
	text-decoration: none;
}
span.thumbcontainer a.trashbuttons:active, span.thumbcontainer a.trashbuttons:hover {
	color: #ff0000;
	text-decoration: none;
}

/* Controls style */
video {
	background-color: transparent;
}
span.globalbuttons {
	white-space: nowrap;
}
span.globalbuttons a {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-family: sans-serif,Arial,Helvetica;
	display: inline-block;
	width: 36px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #444444;
	background-color: #ededed;
	border: 1px solid;
	border-color: #33ccff #039ccf #039ccf #33ccff;
}
span.globalbuttons a:hover, span.globalbuttons a:focus {
	border-color: #33ccff #039ccf #039ccf #33ccff;
}
span.globalbuttons a:active {
	border-color: #039ccf #33ccff #33ccff #039ccf;
}
span.globalbuttons a.highlight:link, span.globalbuttons a.highlight:visited, span.globalbuttons a.highlight:active, span.globalbuttons a.highlight:hover, span.globalbuttons a.highlight:focus {
	color: #444444;
	text-decoration: underline;
	border-color: #33ccff #039ccf #039ccf #33ccff;
}
a.camonbuttons {
	background: transparent url('camon_white.png') no-repeat center center;
}
a.camoffbuttons {
	background: transparent url('camoff_white.png') no-repeat center center;
}
div#imagereloading {
	margin: 6px 0 0 0;
	text-align: center;
}
input {
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-family: sans-serif,Arial,Helvetica;
	padding: 2px;
	margin: 2px 0;
	color: #444444;
	text-align: center;
	background-color: #ededed; 
	border: 1px solid;
	border-color: #33ccff #039ccf #039ccf #33ccff;
}
input[type='date'] {
	vertical-align: middle;
	font-size: 12px;
}
input[type='password'] {
	text-align: left;
}