/* ::::: http://www.codeguru.com/newimg/css/menu/superfish.css ::::: */

/* ::::: http://www.codeguru.com/newimg/css/menu/superfish-vertical.css ::::: */

/* ::::: http://www.codeguru.com/newimg/css/menu/superfish-navbar.css ::::: */

/* ::::: http://www.codeguru.com/newimg/css/reset.css ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-spacing: 0pt; }
fieldset, img { border: 0pt none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
body { font: 12px/1.22 arial,helvetica,clean,sans-serif; }
table { font-size: inherit; }
pre, code, kbd, samp, tt { font-family: monospace; }
h3 { font-size: 14px; }
h1, h2, h3 { margin: 1em 0pt; }
h1, h2, h3, h4, h5, h6, strong { font-weight: bold; }
em { font-style: italic; }
blockquote, ul, ol, dl { margin: 1em; }
ol, ul, dl { margin-left: 2em; }
ul li { list-style: disc outside none; }
th, td { padding: 0.5em; }
p, fieldset, table { margin-bottom: 1em; }
/* ::::: http://www.codeguru.com/newimg/css/styles.css ::::: */

/* ::::: http://www.codeguru.com/newimg/css/global.css ::::: */

body { background: url('main_bg2.gif') repeat-x scroll 0pt 0pt rgb(5, 48, 97); font-family: Arial,Helvetica,sans-serif; font-size: 13px; line-height: 1.4em; color: rgb(0, 0, 0); }
img, .searchForm, #btnSearch, #toolBoxShareMenu, #hot_topics {  }
a { color: rgb(0, 0, 0); text-decoration: none ! important; }
a:hover { text-decoration: underline; }
a:focus {  }
p { margin: 0pt 0pt 1.5em; font-size: 13px; }
br { font-size: 12px; line-height: 1em; }
p br {  }
h3 { font-size: 13px; color: rgb(0, 0, 63); margin: 0pt; }
pre { -moz-background-inline-policy: continuous; background: url('paperbg.gif') repeat scroll 0pt 0pt transparent; border: 2px solid rgb(245, 243, 215); color: rgb(0, 0, 0); width: 570px; display: block; font-family: 'courier new',monospace; font-size: 13px; line-height: 16px; margin-bottom: 10px; margin-top: 3px; overflow-x: auto; padding: 5px 10px; min-height: 30px; }
:first-child + html #toolBoxShareMenu .shareSubMenu { top: 28px; }
:first-child + html #hot_topics ul li { float: none; display: inline; }
/* ::::: http://www.codeguru.com/newimg/css/hacks.css ::::: */

table { width: auto; }
html > body table { width: auto; }
:first-child + html label input { vertical-align: middle; }
body { margin: 0pt; padding: 0pt; background: url('main_bg2.gif') repeat-x scroll 0pt 0pt rgb(5, 48, 97); font-family: Arial,Helvetica,sans-serif; }
a:focus {  }
#developerBrand-footer { text-align: center; margin: 0pt auto; }
#footerlinks { font-size: 12px; margin: 10px 0pt 0pt; word-spacing: 2px; }
#footerlinks a { color: rgb(0, 0, 0); margin: 10px 0pt 0pt; }
#itbeBrand-footer { text-align: center; margin: 0pt auto; }
#footercopyright { font-size: 12px; margin: 5px 0pt 0pt; }
#developerBrandForum-footer { text-align: center; margin: 0pt auto; }
#itbeBrandForum-footer { text-align: center; margin: 0pt auto; }
