H1 {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #a7b6c9; PADDING-BOTTOM: 4px; MARGIN: -4px -4px 4px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px solid; FONT-STYLE: normal
}
H2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal
}
H3 {
	FONT-SIZE: 12px; COLOR: #000000; BORDER-BOTTOM: red 1px solid; FONT-STYLE: normal
}
DT {
	MARGIN-TOP: 8px; COLOR: #800000
}
PRE {
	FONT-SIZE: 12px; LINE-HEIGHT: 14px
}
PRE.code {
	COLOR: #800000
}
BODY {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #708090
}
P {
	COLOR: #000000
}
TD {
	COLOR: #000000
}
BODY {
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif
}
H1 {
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif
}
H2 {
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif
}
H3 {
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif
}
TABLE {
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif
}
TR {
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif
}
TD {
	FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif
}
.banner {
	PADDING-RIGHT: 4px; PADDING-LEFT: 12px; BACKGROUND: #e0e8ff; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.block {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 4px; BACKGROUND: #fff; PADDING-BOTTOM: 4px; MARGIN: 6px 6px 12px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px solid
}
.content H2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #26344c; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px dashed
}
.content H3 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; BACKGROUND: #a7b6c9; PADDING-BOTTOM: 4px; MARGIN: -4px -4px 4px; COLOR: #26344c; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px solid
}
.block H3 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; BACKGROUND: #a7b6c9; PADDING-BOTTOM: 4px; MARGIN: -4px -4px 4px; COLOR: #26344c; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px solid
}
.block P {
	MARGIN: 0px
}
.content {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 4px; BACKGROUND: #fff; PADDING-BOTTOM: 4px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px solid
}
.entrycontent {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 12px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 12px; BORDER-BOTTOM: #999 1px solid
}
.content P {
	MARGIN: 4px 2px 16px
}
#header {
	PADDING-RIGHT: 8px; BORDER-TOP: #182746 2px solid; PADDING-LEFT: 8px; BACKGROUND: #314e8c; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BORDER-BOTTOM: #182746 2px solid
}
#leftcolumn {
	MARGIN-TOP: 4px; LEFT: 0px; WIDTH: 160px; POSITION: absolute
}
#centercolumn {
	BORDER-RIGHT: #666666 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #666666 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 161px; BORDER-LEFT: #666666 0px solid; MARGIN-RIGHT: 201px; PADDING-TOP: 10px; BORDER-BOTTOM: #666666 0px solid
}
#centerrightcolumn {
	BORDER-RIGHT: #666666 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #666666 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 161px; BORDER-LEFT: #666666 0px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #666666 0px solid
}
#rightcolumn {
	MARGIN-TOP: 4px; RIGHT: 0px; WIDTH: 200px; POSITION: absolute
}
#leftcolumn {
	FONT-SIZE: 11px; LINE-HEIGHT: 16px
}
#leftcolumn P {
	FONT-SIZE: 11px; LINE-HEIGHT: 16px
}
#rightcolumn {
	FONT-SIZE: 11px; LINE-HEIGHT: 16px
}
#rightcolumn P {
	FONT-SIZE: 11px; LINE-HEIGHT: 16px
}
.date {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FLOAT: right; COLOR: #666; LINE-HEIGHT: 16px; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif
}
.date_linkdump {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FLOAT: right; COLOR: #666; LINE-HEIGHT: 16px; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif
}
.entryfooter {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #666; LINE-HEIGHT: 16px; PADDING-TOP: 6px; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.entryfooter_linkdump {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #666; LINE-HEIGHT: 16px; PADDING-TOP: 6px; BORDER-BOTTOM: #666 1px dashed; FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.entryfooter A {
	FONT-WEIGHT: bold; COLOR: #5c6b8e; TEXT-DECORATION: none
}
.date A {
	FONT-WEIGHT: bold; COLOR: #5c6b8e; TEXT-DECORATION: none
}
.entryfooter_linkdump A {
	FONT-WEIGHT: bold; COLOR: #5c6b8e; TEXT-DECORATION: none
}
.date_linkdump A {
	FONT-WEIGHT: bold; COLOR: #5c6b8e; TEXT-DECORATION: none
}
.entryfooter A:hover {
	FONT-WEIGHT: bold; COLOR: #5c6b8e; TEXT-DECORATION: underline
}
.date A:hover {
	FONT-WEIGHT: bold; COLOR: #5c6b8e; TEXT-DECORATION: underline
}
.prevnext_links {
	FLOAT: right; COLOR: #fff
}
H1 A {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
.prevnext_links A {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
H1 A:hover {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: underline
}
.prevnext_links A:hover {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: underline
}
.searchbox {
	FONT-SIZE: 10px; WIDTH: 10em
}
.searchbutton {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.calendar {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; BORDER-BOTTOM: #ddd 1px solid
}
.calendarHeader {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #ddd; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 2px
}
.calendartoday {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
TABLE.calendar {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; WIDTH: 175px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid
}
.calendarHeader A {
	FONT-WEIGHT: bold; COLOR: #253a69; TEXT-DECORATION: none
}
.calendar A {
	FONT-WEIGHT: bold; COLOR: #253a69; TEXT-DECORATION: none
}
